.App {
  text-align: center;
  flex: 1 0 auto;
  padding: 10px;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pageButton {
  width: 20%;
  min-width: 10rem;
}

.accordion {
  margin-top: 2rem;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.barContainerColumn {
  flex: 1;
}

.barImage {
  max-height: 25rem;
}

.radioLabel {
  margin: 0.5rem;
}

.radioLabel {
  margin: 0.125rem;
}

.textInput {
  margin-left: 0.5rem;
}

.radioButton {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.125rem;
  margin-bottom: 0.5rem;
}

.errorMessage {
  margin: 0.25rem;
  color: red;
}

.emoji {
  margin-left: 0.5rem;
  font-size: larger;
}

.spinning {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.slow {
  animation-duration: 30000ms;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.bolder {
  font-weight: bolder;
}