.App {
  text-align: center;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pageButton {
  width: 10rem;
}


.barButton {
  width: 15rem;
}

.accordion {
  margin-top: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}

.barImage {
  width: 90%;
  height: 15rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h5 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}